---
layout: default
title: Web Development Simplified - Blog by Josh Frankel
excerpt: A web development blog created by Josh Frankel
---

    <div class="jumbotron">
        <div class="container">
            <h1>{{ site.tagline }}</h1>
        </div>
    </div>

    <div class="container">

        <div class="post-listing">
            {% for post in paginator.posts %}
                <div class="post-single">
                    <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
                    <div class="meta">
                        <p>
                            <time class="meta-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y" }}</time>
                            {% include meta_listing type="post" %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination links -->
        <ul class="pagination">
            {% if paginator.page == 1 %}
                <li><span class="active">1</span></li>
            {% else %}
                <li><a rel="next" href="{{ site.url }}/">1</a></li>
            {% endif %}

            <!-- Starting on 2 page loop -->
            {% for count in (2..paginator.total_pages) %}
                {% if count == paginator.page %}
                    <li><span class="active">{{ count }}</span></li>
                {% else %}
                    <li><a href="{{ site.url }}/page/{{ count }}/">{{ count }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

    </div> <!-- End container -->
