
            <hr />
            <footer class="container">
                <div class="row">
                    <div class="about-me col-md-8">
                        <h3>About the Author</h3>
                        <p>I am obsessed with mastering the newest programming techniques and skills. You can find me constantly pouring over the latest articles and tutorials. When I'm not reading up on web development, I usually am writing about it here, on my blog.</p>
                    </div>
                    <ul class="social-icons col-md-4">
                        <li><a href="{{ site.author.github }}"><img src="/img/icons/mono-icons/github.png" alt="Github" /></a></li>
                        <li><a href="{{ site.author.stackoverflow }}"><img src="/img/icons/mono-icons/stackoverflow.png" alt="Stackoverflow" /></a></li>
                        <li><a href="{{ site.author.twitter }}"><img src="/img/icons/mono-icons/twitter_bird.png" alt="Twitter" /></a></li>
                        <li><a href="{{ site.author.linkedin }}"><img src="/img/icons/mono-icons/linkedin.png" alt="LinkedIn" /></a></li>
                    </ul>
                </div>
            </footer>
        </div> <!-- End #wrapper -->
    </body>
</html>
