<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap, Modernizr, and styles -->
        <link rel="stylesheet" href="/css/styles.css">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,700,900,300italic,700italic' rel='stylesheet' type='text/css'>

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

    <div id="wrapper">

        <header>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index.html">Josh<br /><strong>Frankel</strong></a>
                </div>
                <nav class="navbar-collapse collapse navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/archive.html">Archive</a></li>
                        <li><a href="/categories.html">Categories</a></li>
                        <li><a href="/tags.html">Tags</a></li>
                        <li><a href="/rss.xml">RSS</a></li>
                    </ul>
                </nav>
            </div>
        </header>
