.post-listing {
    margin-top:40px;
    .post-single {
        margin-bottom: 30px;
        h2 {
            font-size: 28px;
            font-size: 2.8rem;
            letter-spacing: 0.035rem;
        }
    }
}
