.meta {
    .meta-date,
    .meta-categories,
    .meta-tags {
        display: inline-block;
    }
    .meta-date {
        color:$light-gray;
        font-style: italic;
        margin-right: 10px;
    }
    .meta-comments {
        margin: 0 10px;
    }
    .meta-categories {
        font-style: italic;
        margin: 0 10px;
    }
    .meta-tags {
        font-style: italic;
        margin-left:10px;
    }
}
