.post-detail {

    p,
    .post {
        font-size: 18px;
        font-size: 1.8rem;
        letter-spacing: 0.015rem;
        line-height: 29px;
    }

    .meta {
        font-size: 16px;
        font-size: 1.6rem;
    }
}
