.post-detail {

    p,
    .post {
        font-size: $font-size-regular-px;
        font-size: $font-size-regular-rem;
        letter-spacing: 0.025rem;
        line-height: $line-height-regular;
    }
    .post {
        margin-bottom: 40px;
        img {
            display: block;
            margin: 0 auto 18px;
        }
        a {
            border-bottom: 1px dashed #94ad30;
        }
        nav a {
            border-bottom: none;
        }
        h4 {
            display: inline-block;
        }
        .well {
            h4 {

            }
            a {
                display: block;
            }
            &.floated {
                float:right;
                width:40%;
                margin: 5px 0 20px 35px;
                font-size: 16px;
                line-height: 23px;
            }
        }
        blockquote {
            &.floating-quote {
                font-size: 16px;
                font-size: 1.6rem;
                width: 40%;
            }
            &.floating-quote-right {
                float:right;
                margin: 15px 0 15px 35px;
            }
            .page-header {
                margin-top:0;
                font-weight: 700;
            }
        }
        .panel-link {
            .panel-body {
                color: #333;
            }
            &:hover {
                .panel {
                    border-color: $green;
                }
                .panel-heading {
                    background: darken(#f5f5f5, 10%);
                    border-color: $green;
                    small {
                        color: $green;
                    }
                }
                .panel-body {
                    background: #f5f5f5;
                }
            }
        }
        .panel {
            margin:25px 0;
            .panel-heading {
                h4 {
                    display: inline-block;
                }
                a {
                    float:right;
                    position: relative;
                    margin-top:10px;
                    margin-right: 5px;
                    border:none;
                }
            }
        }
    }
    .meta {
        font-size: 16px;
        font-size: 1.6rem;
    }

    #disqus_thread {
        margin: 0 0 60px 0;
    }

    .image-holder-300 {
        width: 300px;
    }
}
.post-title {
    .meta {
        margin-top:10px;
        color: rgba(#fff, 0.5);
    }
    .meta-date,
    .meta-categories a,
    .meta-tags a {
        color:#fff;
        font-size: 20px;
    }
    .meta-categories a,
    .meta-tags a {
        font-weight: 700;

        &:hover {
            color: #272822;
        }
    }
}
