.post-detail {

    p,
    .post {
        font-size: 16px;
        font-size: 1.6rem;
        letter-spacing: 0.015rem;
        line-height: 29px;
    }
    .post {
        margin-bottom: 40px;
        img {
            margin-bottom: 22px;
        }
    }

    .meta {
        font-size: 16px;
        font-size: 1.6rem;
    }

    #disqus_thread {
        margin: 0 0 60px 0;
    }
}
.post-title {
    .meta {
        margin-top:10px;
        color: rgba(#fff, 0.5);
    }
    .meta-date,
    .meta-categories a,
    .meta-tags a {
        color:#fff;
        font-size: 20px;
    }
    .meta-categories a,
    .meta-tags a {
        font-weight: 700;

        &:hover {
            color: #61711f;
        }
    }
}
