
header {
    min-height: 99px;

    .container {
        .navbar-header {
            margin:0;
            .navbar-brand {
                height: auto;
            }
            .navbar-toggle {
                margin-top:30px;
                .icon-bar {
                    background: #6a6a6a;
                    height: 3px;
                    width:32px;
                }
            }
        }
        .navbar-collapse {
            float:none;
            max-height: none;

            .navbar-nav {
                margin: 7px 0;

                li {
                    a {
                        padding:10px 0;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}
.post {
    img {
        height: auto;
        width:100%;
    }
}
