@import "compass/css3";

html {
    border-top: 5px solid $green;
}
a {
    -webkit-transition: color 120ms ease-in;
    -moz-transition: color 120ms ease-in;
    -ms-transition: color 120ms ease-in;
    -o-transition: color 120ms ease-in;
    transition: color 120ms ease-in;
    &:hover {
        text-decoration: none;
    }
}
h1 {
    color: $green;
    margin-top:40px;
    font-family: $lato;
    letter-spacing: 0.05em;
}
h3 {
    color: #454545;
    font-weight: 700;
    letter-spacing: 0.01em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 40px;
}
h4 {
    font-weight: 700;
    margin-top:19px;
}
p {
    letter-spacing: 0.01em;
}
.highlight,
ul,
ol,
p {
    margin-bottom: 18px;
}
.highlight .err {
    color: #f92672 !important;
    background-color: none !important;
    background: none !important;
}
acronym,
mark {
    border-bottom: 1px dashed #333;
    cursor: help;
}
blockquote {
    background: rgba(#efefef, 0.3);
    border-left:5px solid #E6E6E6;
    padding: 22px 25px;
    font-size: 20px;
    font-size: 2.0rem;
    font-style: italic;
    line-height: 1.5;

    nav {
        margin-top:10px;
        a {
            font-size: $font-size-regular-px;
            font-size: $font-size-regular-rem;
            display: block;
            margin-bottom: 5px;
        }
    }
}
hr {
    border-top: 1px solid #E6E6E6;
}
mark {
    background: none;
    border-bottom: 1px dashed #E6E6E6;
    color: #666;
    font-style: italic;
    -webkit-transition: color 120ms ease-in;
    -moz-transition: color 120ms ease-in;
    -ms-transition: color 120ms ease-in;
    -o-transition: color 120ms ease-in;
    transition: color 120ms ease-in;

    &:hover {
        color: lighten(#666, 20%);
    }
}
code {
    white-space: normal;
    padding: 1px 3px;
}
.highlight {
    @include border-radius(2px);
    margin: 19px 0;
    pre {
        border: none;
        code {
            span {
                font-family: monospace;
                font-size: 13px;
            }
        }
    }
}
.container {
    padding: 0 20px;
}
