
html {
    border-top: 5px solid $green;
}
a {
    -webkit-transition: color 120ms ease-in;
    -moz-transition: color 120ms ease-in;
    -ms-transition: color 120ms ease-in;
    -o-transition: color 120ms ease-in;
    transition: color 120ms ease-in;
    &:hover {
        text-decoration: none;
    }
}
h1 {
    color: $green;
    margin-top:40px;
    font-family: $lato;
    letter-spacing: 0.05em;
}
h3 {
    color: #454545;
    font-weight: 700;
    letter-spacing: 0.01em;
}
p {
    letter-spacing: 0.01em;
}
.highlight,
ul,
ol,
p {
    margin-bottom: 22px;
}
blockquote {
    background: rgba(#efefef, 0.3);
    border-left:5px solid #ddd;
    padding: 22px 25px;
    font-size: 20px;
    font-size: 2.0rem;
    font-style: italic;
    line-height: 1.5;
}
mark {
    background: none;
    border-bottom: 1px solid #ddd;
    color: #333;
    cursor: pointer;
    -webkit-transition: color 120ms ease-in;
    -moz-transition: color 120ms ease-in;
    -ms-transition: color 120ms ease-in;
    -o-transition: color 120ms ease-in;
    transition: color 120ms ease-in;

    &:hover {
        color: lighten(#333, 20%);
    }
}
.highlight {
    border-radius: 2px;
    pre {

        border: none;
    }
}
.container {
    padding: 0 20px;
}
