---
layout: default
---

<div class="post-detail">
    <h1>{{ page.title }}</h1>
    <p class="meta">
        <span class="meta-date">{{ page.date | date: "%B %-d, %Y" }}</span>/
        <span class="meta-categories">
            {% for categories in page.categories %}
            <a href="/categories.html#{{ categories }}-ref">{{ categories }}</a>
            {% endfor %}
        </span>/
        <span class="meta-tags">
            {% for tag in page.tags %}
            <a href="/tags.html#{{ tag }}-ref">{{ tag }}</a>
            {% endfor %}
        </span>
    </p>

    <div class="post">
    {{ content }}
    </div>

    <!-- Sharing -->

    <!-- Comments System -->
</div>
